# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
venv/
ENV/

# IDE
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Database
*.sqlite
*.db

# AI / Cache
.llama_storage/
chroma_db/
